.page_cards {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 40px;
}
.card_box {
    width: 867px;
height: 40px;
background-color:  #FFFFFF;
border-radius: 4px;
display: flex;
flex-direction: row;
justify-content: space-around;
margin: 0 40px;
} 
.contaner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}